header {
    display: flex;
    height: 600px;
    background-image: url(../images/simon-karemann-p85-MG66GRY-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    .header_descr {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
        background: rgba(0, 0, 0, .5);

        .first_descr {
            color: white;
            font-size: 3rem;
            font-weight: bold;
            width: 45%;
        }

        .second_descr {
            color: white;
            font-size: 1.3rem;
            width: 25%;

        }
    }
}

@media only screen and (max-width: 1268px)  {
    header {
        .header_descr {
            .first_descr {
                width: 55%;
                p {
                    font-size: 45px;
                }
            }
            .second_descr {
                width: 30%;
            }
        }
    }
}

@media only screen and (max-width: 992px)  {
    header {
        .header_descr {
            .first_descr {
                width: 60%;
                p {
                    font-size: 35px;
                }
            }
            .second_descr {
                width: 30%;
            }
        }
    }
}

@media only screen and (max-width: 768px)  {
    header {
        .header_descr {
            .first_descr {
                width: 100%;
                p {
                    font-size: 35px;
                }
            }
            .second_descr {
                width: 100%;
            }
        }
    }
}

@media only screen and (max-width: 448px)  {
    header {
        .header_descr {
            padding: 20px;
            .first_descr {
                width: 100%;
                p {
                    font-size: 25px;
                }
            }
            .second_descr {
                width: 100%;
            }
        }
    }
}

@media only screen and (max-width: 366px)  {
    header {
        .header_descr {
            padding: 20px;
            .first_descr {
                width: 100%;
                p {
                    font-size: 20px;
                }
            }
            .second_descr {
                width: 100%;
                font-size: 16px;
            }
        }
    }
}