nav {
    display: flex;
    width: 100%;
    .logo-nav {
        width: 50px;
        border-radius: 50%;
    }
    


    .active_link {
        border-radius: 10px;
        background: #ff3e3e;
        .active_link_a {
            color: white !important;
        }
    }
    
    
}