body {
  margin: 0;
  padding: 0;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

nav .logo-nav {
  width: 50px;
  border-radius: 50%;
}

nav .nav-link {
  padding: 0;
}

.chosen_restarant {
  height: 100vh;
  background-image: url(../images/waiter.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  text-decoration: none !important;
}

.chosen_restarant .chosen_descr {
  background: #EB5757;
  position: relative;
  width: 250px;
  border-radius: 20px;
  padding: 20px;
  text-decoration: none;
  -webkit-transition: .3s ease-in;
  transition: .3s ease-in;
}

.chosen_restarant .chosen_descr p {
  color: white;
  text-align: center;
  font-size: 1.5rem;
  margin: 0;
  text-decoration: none;
}

.chosen_restarant .pseudo-grey {
  background: #6e6e6e;
  width: 100%;
  height: 100vh;
  position: absolute;
  -webkit-transition: .3s ease-in;
  transition: .3s ease-in;
  opacity: .5;
}

.chosen_restarant:hover .chosen_descr {
  width: 270px;
  padding: 25px;
}

.chosen_restarant:hover .pseudo-grey {
  opacity: 0;
}

.chosen_user {
  height: 100vh;
  background-image: url(../images/clients.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  text-decoration: none !important;
}

.chosen_user .chosen_descr-user {
  background: #EB5757;
  position: relative;
  width: 250px;
  border-radius: 20px;
  padding: 20px;
  text-decoration: none;
  -webkit-transition: .3s ease-in;
  transition: .3s ease-in;
}

.chosen_user .chosen_descr-user p {
  color: white;
  text-align: center;
  font-size: 1.5rem;
  margin: 0;
  text-decoration: none;
}

.chosen_user .pseudo-grey-user {
  background: #6e6e6e;
  width: 100%;
  height: 100vh;
  position: absolute;
  -webkit-transition: .3s ease-in;
  transition: .3s ease-in;
  opacity: .5;
}

.chosen_user:hover .chosen_descr-user {
  width: 270px;
  padding: 25px;
}

.chosen_user:hover .pseudo-grey-user {
  opacity: 0;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 600px;
  background-image: url(../images/business_header.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

header .header_descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
}

header .header_descr .first_descr {
  color: white;
  font-size: 3rem;
  font-weight: bold;
  width: 45%;
}

header .header_descr .second_descr {
  color: white;
  font-size: 1.3rem;
  width: 25%;
}
/*# sourceMappingURL=style.css.map */